{% extends "site_recipes/base.html" %}

{% block title %}
    Удаление {{ recipe.title }}
{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li>
                <a href="{% url 'site_recipes:detail' pk=recipe.pk %}">Вернуться к назад</a>
            </li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        <h2>Вы действительно хотите удалить {{ recipe.title }}?</h2>
        {{ form.as_p }}
        <button type="submit">Удалить {{ recipe.title }}</button>
    </form>
{% endblock %}