{% extends 'auth/base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    <nav>
        <ul>
            <li>
                <a href="{% url 'site_recipes:main' %}">Вернуться на главную</a>
            </li>
        </ul>
    </nav>
    <h1>Регистрация</h1>
    <div class="container">
        <div class="main-content">
            <div class="cont">
                <h2>Если у вас есть аккаунт, вы можете войти с него</h2>
                <a href="{% url 'auth_user:login' %}">Войти в профиль</a>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зарегистроваться</button>
    </form>
{% endblock %}
